Repository Axieum/Chatter, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, localisation, build, chatter-api, chatter-discord, chatter-styling, chatter-world

:memo: Revise the repo docs (#12)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  README.md
  chatter-api/README.md
  chatter-api/src/main/resources/fabric.mod.json
Labels: documentation, build, chatter-api

:bug: Disable Discord presence timer if none defined
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/DiscordPresenceListener.java
Labels: chatter-discord

:sparkles: Add placeholders to Discord presences (#16)
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/DiscordPresenceListener.java
Labels: chatter-discord

:bulb: Grammar & examples in config
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/MessageConfig.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/ThemeConfig.java
Labels: chatter-discord

:sparkles: Refactor Styling to integrate with permission APIs
  chatter-api/src/main/java/me/axieum/mcmod/chatter/impl/util/MessageFormat.java
  chatter-styling/build.gradle
  chatter-styling/gradle.properties
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/api/styling/.gitkeep
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/api/styling/ChatStyleProvider.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/ChatterStyling.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/callback/ReceiveChatCallback.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/config/StylingConfig.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/integration/LuckPermsStyle.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/integration/MinecraftStyle.java
  chatter-styling/src/main/resources/fabric.mod.json
Labels: build, chatter-api, chatter-styling

:recycle: Move Discord string utils into API
  chatter-api/src/main/java/me/axieum/mcmod/chatter/impl/util/StringUtils.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageReceivedListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageUpdateListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/EntityDeathCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerAdvancementCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerChangeWorldCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerConnectionCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerDeathCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/ReceiveChatCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/util/FormatUtils.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/util/MinecraftDispatcher.java
Labels: chatter-api, chatter-discord

:sparkles: Add world placeholder to Styling
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/callback/ReceiveChatCallback.java
Labels: chatter-styling

:bug: Fix empty dimension filtering
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/MessageConfig.java
Labels: chatter-discord

:bug: Fix Discord messages if command client fails to load (#18)
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/ChatterDiscord.java
Labels: chatter-discord

:sparkles: Add hot-reloading of the chat style config (#10)
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/ChatterStyling.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/callback/ReceiveChatCallback.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/config/StylingConfig.java
Labels: chatter-styling

:sparkles: Add hot-reloading of the discord config (#10)
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/ChatterDiscord.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/DiscordCommandListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/DiscordPresenceListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageReactionListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageUpdateListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerConnectionCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerDeathCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/ServerLifecycleCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/command/DiscordCommands.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/command/discord/TPSCommand.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/command/discord/UptimeCommand.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/DiscordConfig.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/CommandConfig.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/ThemeConfig.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/util/DiscordDispatcher.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/util/FormatUtils.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/util/MinecraftDispatcher.java
Labels: chatter-discord

:bookmark: v1.1.0-beta
  chatter-api/gradle.properties
  chatter-discord/gradle.properties
  chatter-styling/gradle.properties
  chatter-world/gradle.properties
  gradle.properties
Labels: build, chatter-api, chatter-discord, chatter-styling, chatter-world

:arrow_up: Update Fabric mappings, loader & api
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/integration/MinecraftStyle.java
  gradle.properties
Labels: build, chatter-styling

:bug: Fix Discord not logging out if server crashes during startup (#27)
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/api/event/discord/ServerShutdownCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/ChatterDiscord.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/ServerLifecycleCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/util/ServerUtils.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/mixin/discord/MinecraftServerMixin.java
Labels: chatter-discord

:sparkles: Add better support for team in chat styling
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/api/styling/ChatStyleProvider.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/callback/ReceiveChatCallback.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/config/StylingConfig.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/integration/LuckPermsStyle.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/integration/MinecraftStyle.java
Labels: chatter-styling

:bug: Fix method reference for team colour in production
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/callback/ReceiveChatCallback.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/impl/styling/config/StylingConfig.java
  chatter-styling/src/main/java/me/axieum/mcmod/chatter/mixin/styling/TeamAccessor.java
  chatter-styling/src/main/resources/chatter-styling.mixins.json
Labels: chatter-styling

:bug: Fix all Discord messages being sent to Minecraft (#32)
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageReactionListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageReceivedListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageUpdateListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/MessageConfig.java
Labels: chatter-discord

:sparkles: Add extra Discord username, discriminator, etc. placeholders
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageReactionListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageReceivedListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/discord/MessageUpdateListener.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerAdvancementCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerChangeWorldCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerConnectionCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/PlayerDeathCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/callback/minecraft/ReceiveChatCallback.java
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/MessageConfig.java
Labels: chatter-discord

:bulb: Add Discord presence placeholders to config comments
  chatter-discord/src/main/java/me/axieum/mcmod/chatter/impl/discord/config/module/ThemeConfig.java
Labels: chatter-discord

:bookmark: v1.1.1-beta
  build.gradle
  chatter-discord/gradle.properties
  gradle.properties
Labels: build, chatter-discord

.github/labeler.yml:

# For more information, see https://github.com/actions/labeler.

# Add 'documentation' label to any document related changes
documentation:
  - '**/*.{md,txt}'  # markdown and text

# Add 'localisation' label to any translation changes
localisation:
  - '**/lang/**/*'

# Add 'build' label to any build related changes
build:
  - '**/*.gradle'
  - '**/*.properties'
  - '**/fabric.mod.json'  # fabric mod metadata
  - '**/mods.toml'  # forge mod metadata

# Add the 'chatter-api' label to changes in the Chatter API module
chatter-api: 'chatter-api/**/*'

# Add the 'chatter-discord' label to changes in the Chatter Discord module
chatter-discord: 'chatter-discord/**/*'

# Add the 'chatter-styling' label to changes in the Chatter Styling module
chatter-styling: 'chatter-styling/**/*'

# Add the 'chatter-world' label to changes in the Chatter World module
chatter-world: 'chatter-world/**/*'
